* {
  box-sizing: border-box;
}

.q1 {
  display: flex;
  width: 300px;
  height: 300px;
  background: #eee;
  justify-content: flex-start;
  align-items: flex-start;
}
.box {
  width: 100px;
  height: 100px;
  background: red;
}
.q2 {
  display: flex;
  width: 300px;
  height: 300px;
  background: rgb(206, 19, 19);
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  list-style: none; 
  padding: 0;
  margin: 0;
}

.navbar li {
  flex: 1;        
  padding: 10px;
  background: lightblue;
  text-align: center;
  border: 1px solid #000;
}
    

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 10px;
  border: 1px solid plum;
}

.course-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #f80a0a;
}
.course-card img {
  width: 100%;
}
.product-card {
  display: flex;
  max-width: 400px;
  border: 1px solid #1b1a1a;
}
.product-card img {
  width: 100px;
}
.details {
  align-items:end;
  padding: 10px;
}
.testimonial {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
}
.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
}
.pricing-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  width: 200px;
  background: lightgreen;
  padding: 10px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  background: #333;
  color: white;
}
.col {
  flex: 1;
  min-width: 200px;
  padding: 10px;
}